<form class="container" [formGroup]="loginform">
    <h3>Login</h3>
    <input type="email" placeholder="Enter Email" [formControl]="email">
    <h5 class="red-text" [hidden]="email.untouched ||  email.valid">Enter Valid Email</h5>
    <input type="password" placeholder="Enter Password" [formControl]="password">
    <h5 class="red-text" [hidden]="password.untouched ||  password.valid">Enter Valid Password</h5>
    <button [disabled]="loginform.invalid" (click)="loginForm()">Login</button>
    <button (click)="resetForm()">Reset</button>
</form>
